<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"/>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"/>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"/>
</head>
<body>
<table id="dg" class="easyui-datagrid" title="厂商列表" style="width:auto;height:auto" pagination="true"
       data-options="iconCls: 'icon-edit',singleSelect: true,fitColumns: true,toolbar: '#tb',onClickCell: onClickCell,onEndEdit: onEndEdit,url:'company/queryCompanys',method:'get'">
    <thead>
    <tr>
        <th data-options="field:'companyCode',width:80,hidden: true">厂商编码</th>
        <th data-options="field:'companyName',width:200,editor:'textbox',required:true">厂商名称</th>
        <th data-options="field:'remark',width:400,align:'right',editor:'textbox'">备注</th>
        <th data-options="field:'createTime',width:120,align:'right'">创建时间</th>
        <th data-options="field:'updateTime',width:120">更新日间</th>
        <th data-options="field:'status',width:60,align:'center',editor:{type:'checkbox',options:{on:'1',off:'0'}}">
            有效标识
        </th>
    </tr>
    </thead>
</table>

<div id="tb" style="height:auto">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add2',plain:true"
       onclick="append()">新增</a>
<!--    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
       onclick="removeit()">删除</a>-->
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
       onclick="accept()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
       onclick="reject()">恢复</a>
</div>
<script type="text/javascript" src="/js/company.js"/>
</body>
</html>