<html>
<head>
    <meta charset="UTF-8"/>
    <title>人口健康信息平台字典转换应用</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <script type="text/javascript" src="/easyui/jquery.min.js"/>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"/>
    <script type="text/javascript" src="/easyui/locale/easyui-lang-zh_CN.js"/>
</head>
<body>
<div class="easyui-layout" data-options="fit:true">
    <div region="north" split="true" border="false" style="overflow: hidden; height: 44px; background: #7f99be repeat-x center 50%;
        line-height: 40px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span/>
        <span style="padding-left:10px; font-size: 20px; ">人口健康信息平台字典转换应用</span>
    </div>
    <div data-options="region:'west',split:'true',title:'导航菜单'" style="width:220px">
        <div id="nav" class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->
        </div>
    </div>
    <div data-options="region:'center'" style="width:100%;height:100px;">
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false">
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/index.js"/>
</body>
</html>